# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
data/processed/reports/charts/*.png
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / Mac OS
.vscode/
.DS_Store